@import '../../sass/colors';
@import '../../sass/shadows';

.carousel-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-xxl;
    border-radius: 18px;
    height: 70px;
    padding: 0 26px;
    box-shadow: $block-shadow;

    .carousel-block__control {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $white-xl;
        border: none;
        transition: all 100ms;

        &:hover {
            background-color: $hover-btn-color;
            i {
                color: $white-xxl;
            }
        }

        @media (max-width: 979px) {
            display: none;
        }
    }

    .carousel-block__center {
        width: 1140px;
        overflow: hidden;

        @media (min-width:1200px) and (max-width: 1400px) {
            width: 920px;
        }

        @media (min-width:980px) and (max-width: 1199px) {
            width: 535px;
        }

        @media (min-width:575px) and (max-width: 979px) {
            width: 480px;
        }

        @media (min-width: 510px) and (max-width: 574px) {
            width: 425px;
        }

        @media (min-width: 450px) and (max-width: 509px) {
            width: 370px;
        }

        @media (min-width: 390px) and (max-width: 449px) {
            width: 315px;
        }

        @media (max-width: 389px) {
            width: 270px;
        }
    }

    .carousel-block__items {
        display: flex;
        gap: 15px;
        align-items: center;
        width: fit-content;
    }

    .carousel-block__item {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
    }

    @media (min-width:575px) and (max-width: 979px) {
        padding-left: 34px;
    }

    @media (max-width: 574px) {
        justify-content: center;
    }
}